.article-content {
    font-size: 22px;
}

.article-content a {
    color: #006dcb;
}

.article-content img {
    display: block;
    margin: 1em auto;

    max-width: 100%;
    height: auto;

    border-radius: .3em;
    box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    box-sizing: border-box;
    border: #fff 0.5em solid;
}

.article-content .code-block.note,
.article-content .code-block.tip,
.article-content .code-block.see-also,
.article-content .code-block.sidebar {
    padding: 15px;
    background-color: #FFFFFF;
}
.article-content .code-block.note,
.article-content .code-block.see-also,
.article-content .code-block.sidebar {
    border-color: #D9D9D9;
}
.article-content .code-block.tip {
    border-color: rgba(170,205,78,.5);
}
.article-content .code-block.note > :last-child,
.article-content .code-block.tip > :last-child,
.article-content .code-block.see-also > :last-child,
.article-content .code-block.sidebar > :last-child {
    margin-bottom: 0;
}
.article-content .code-block.note > :nth-child(2),
.article-content .code-block.tip > :nth-child(2),
.article-content .code-block.see-also > :nth-child(2) {
    margin-top: 0;
}
.article-content .code-block.note .note-title,
.article-content .code-block.tip .tip-title,
.article-content .code-block.see-also .see-also-title {
    margin-bottom: 0.4em;
}
.article-content .code-block.note .note-title {
    color: #999999;
}
.article-content .code-block.tip .tip-title {
    color: #AACD4E;
}
.article-content .code-block.see-also .see-also-title {
    color: #62AEEA;
}

.article-content .table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
