.code-block {
    margin: 1em auto;
    border-radius: 10px;
    border: #272822 3px solid;
}

.code-block code, .code-block pre {
    border: 0;
    font-family: Droid Sans Mono, Consolas, Menlo, Ubuntu Mono, monospace;
    font-size: 18px;
    font-variant-ligatures: no-common-ligatures;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin-bottom: 0;
}

.highlighttable, .code-block, .highlight {
    background: #000000;
}

table.highlighttable {
    width: 100%;
    table-layout: fixed;
}

.highlighttable td.linenos {
    width: 40px;
    text-align: right;
}

.highlighttable td.linenos, .highlighttable td.code {
    vertical-align: top;
}

.linenodiv > pre {
    padding: 15px 6px;
}
td.code > .highlight > pre {
    padding: 15px 0;
}

.code-block > .highlight > pre {
    padding: 15px 0;
}

.code-block > .highlight, td.code > .highlight {
    padding: 0 15px;
}

pre {
    display: block;
    color: #FFFFFF;
}

/** Terminal related styles **/
.code-block.terminal .linenos {
    display: none;
}
.code-block.terminal .c1,
.code-block.terminal .gp {
    display: inline-block;
    position: relative;
    visibility: hidden;
}
.code-block.terminal .c1:before,
.code-block.terminal .gp:before {
    content: attr(data-content);
    position: absolute;
    visibility: visible;
}
/** Terminal related styles **/
