.highlight .w { color: #f8f8f8; text-decoration:underline; } /* Text.Whitespace */
.highlight .err { color: #a40000; border:1px solid #ef2929; } /* Error */
.highlight .x { color: #ffffff; } /* Other */
.highlight .c { color: #B729D9; font-style: italic; } /* Comment */
.highlight .c1 { color: #B729D9; font-style: italic; } /* Comment.Single */
.highlight .cm { color: #B729D9; font-style: italic; } /* Comment.Multiline */
.highlight .cp { color: #a0a0a0; } /* Comment.Preproc */
.highlight .k { color: #FF8400; } /* Keyword */
.highlight .kc { color: #FF8400; } /* Keyword.Constant */
.highlight .kd { color: #FF8400; } /* Keyword.Declaration */
.highlight .kn { color: #FF8400; } /* Keyword.Namespace */
.highlight .kp { color: #FF8400; } /* Keyword.Pseudo */
.highlight .kr { color: #FF8400; } /* Keyword.Reserved */
.highlight .kt { color: #FF8400; } /* Keyword.Type */
.highlight .o { color: #E0882F; } /* Operator */
.highlight .ow { color: #E0882F; } /* Operator.Word */
.highlight .p { color: #999999; } /* Punctuation */
.highlight .n { color: #ffffff; } /* Name */
.highlight .na { color: #ffffff; } /* Name.Attribute */
.highlight .nb { color: #ffffff; } /* Name.Builtin */
.highlight .bp { color: #3465a4; } /* Name.Builtin.Pseudo */
.highlight .nc { color: #ffffff; } /* Name.Class */
.highlight .no { color: #ffffff; } /* Name.Constant */
.highlight .nd { color: #888; } /* Name.Decorator */
.highlight .ni { color: #ce5c00; } /* Name.Entity */
.highlight .ne { color: #cc0000; } /* Name.Exception */
.highlight .nf { color: #ffffff; } /* Name.Function */
.highlight .py { color: #ffffff; } /* Name.Property */
.highlight .nl { color: #f57900; } /* Name.Label */
.highlight .nn { color: #ffffff; } /* Name.Namespace */
.highlight .nx { color: #ffffff; } /* Name.Other */
.highlight .nt { color: #cccccc; } /* Name.Tag */
.highlight .nv { color: #ffffff; } /* Name.Variable */
.highlight .vc { color: #ffffff; } /* Name.Variable.Class */
.highlight .vg { color: #ffffff; } /* Name.Variable.Global */
.highlight .vi { color: #ffffff; } /* Name.Variable.Instance */
.highlight .m { color: #1299DA; } /* Literal.Number */
.highlight .l { color: #ffffff; } /* Literal */
.highlight .ld { color: #ffffff; } /* Literal.Date */

.highlight .s { color: #56DB3A; } /* Literal.String */
.highlight .sb { color: #56DB3A; } /* Literal.String.Backtick */
.highlight .sc { color: #56DB3A; } /* Literal.String.Char */
.highlight .sd { color: #B729D9; } /* Literal.String.Doc */
.highlight .s2 { color: #56DB3A; } /* Literal.String.Double */
.highlight .se { color: #56DB3A; } /* Literal.String.Escape */
.highlight .sh { color: #56DB3A; } /* Literal.String.Heredoc */
.highlight .si { color: #56DB3A; } /* Literal.String.Interpol */
.highlight .sx { color: #56DB3A; } /* Literal.String.Other */
.highlight .sr { color: #56DB3A; } /* Literal.String.Regex */
.highlight .s1 { color: #56DB3A; } /* Literal.String.Single */
.highlight .ss { color: #56DB3A; } /* Literal.String.Symbol */

.highlight .g { color: #ffffff; } /* Generic */
.highlight .gd { color: #a40000; } /* Generic.Deleted */
.highlight .ge { color: #ffffff; font-style: italic; } /* Generic.Emph */
.highlight .gr { color: #ef2929; } /* Generic.Error */
.highlight .gh { color: #000080; } /* Generic.Heading */
.highlight .gi { color: #00A000; } /* Generic.Inserted */
.highlight .go { color: #888; } /* Generic.Output */
.highlight .gp { color: #745334; } /* Generic.Prompt */
.highlight .gs { color: #ffffff; font-weight: bold; } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold; } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold; } /* Generic.Traceback */

.code-block.terminal .gp {
    color: gray;
}

.highlighttable td.linenos pre {
    color: #888;
}
